{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="container">
    <label for="book">Busqueda: </label>
    <input type="text" id="input_books" class="form-control" style="margin-top:1em" name="book">  
</div>

<div class="container mt-4">
    <div id="spinner" style="display: none;text-align: center;color:blue" role="status">Cargando</div>
    <div class="row" id="books_container">
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='search.js') }}"></script>
{% endblock %}